<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293882888853-hfnrae3uv6e97cj8gkjl112kmll72141.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293882888853-hfnrae3uv6e97cj8gkjl112kmll72141</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>293882888853-3knnt10i1bn0b0qocj0936vfafr213tc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOc0zRszdpIeDzTDKvn38S-PjQIdm9pb8</string>
	<key>GCM_SENDER_ID</key>
	<string>293882888853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fenix.kubico.kubico</string>
	<key>PROJECT_ID</key>
	<string>kubicob</string>
	<key>STORAGE_BUCKET</key>
	<string>kubicob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293882888853:ios:b0888eb3512e6d3e91d19c</string>
</dict>
</plist>